fieldset.polls dd div {
	min-width: 12px;
}
.vote-block {
	width: 60%;
	float: left;
	position: relative;
}
.gauge-block {
	width: 40%;
	float: right;
	position: relative;
}
@media (max-width: 700px) {
	.vote-block, .gauge-block {
		width: auto;
		position: relative;
		float: none;
	}
}