		</div>
      	<div class="gauge-block">
			<!-- right content -->
			<script>
					var totalPollResults = {TOTAL_POLL_RESULTS},
							pollResults = {POLL_RESULTS_UP},
							forumId = {FORUM_ID},
							topicId = {TOPIC_ID};
			</script>
			<!-- INCLUDEJS https://code.highcharts.com/highcharts.js -->
			<!-- INCLUDEJS https://code.highcharts.com/highcharts-more.js -->
			<!-- INCLUDEJS https://code.highcharts.com/modules/solid-gauge.js -->
			<!-- INCLUDEJS @athc_pollgaugemeter/js/script.js -->
			<div style="width: 100%; height: 200px;">
				<div id="container-poll-results" class="block-center" style="width: 300px; height: 200px;"></div>
			</div>
		</div>
</div>